$color : dimgray;
$color1 : aliceblue;
$color2 : lightgray;
$color4: rgba(17, 17, 17, 0.411);
$color3: cadetblue;
$large : 100%;
$bordure: 1px solid $color4;
$arrondi: 6px;
$borform: 1px solid #ccc;
$arrondi1: 50%;
$epaiseur: 3px;
$ombre: 12px 10px 50px #111;
 
 